@import url("https://fonts.googleapis.com/css?family=Varela+Round");
html {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  background: #191729;
  font-family: "Varela Round", sans-serif;
  color: honeydew;
}


